In [ ]:
import matplotlib.pyplot as plt
from datetime import datetime
import datetime as dt
import numpy as np
import pandas as pd
import operator
import json
import twint

In [ ]:
# handles of Delhi Police
Accounts = ['DelhiPolice', 'DCPSouthDelhi', 'CPDelhi', 'DCPNewDelhi', 'DcpNorthDelhi', 'DCPCentralDelhi', 'DCPNWestDelhi', 'DCPNEastDelhi', 'dcp_outernorth', 'DCPEastDelhi', 'DCPSEastDelhi', 'dcp_southwest', 'DCPWestDelhi']
# possible location keywords
Locations = ['Jaffrabad', 'Jafrabad', 'Jaffraabad','Jaaffrabad']

# generate Search Queries
Search_Queries = []
for account in Accounts:
  for location in Locations:
      Search_Queries.append('@' + account + ' ' + location)

In [ ]:
# retrieve tweets
client = twint.Config()
client.Since = '2020-02-01'
client.Until = '2020-03-06'
client.Lang = 'en'
client.Pandas = True

# list of dataframes
Data = []

for query in Search_Queries:
  client.Search = query
  twint.run.Search(client)
  Tweets = twint.storage.panda.Tweets_df
  Data.append(Tweets)

In [ ]:
# add all tweets to single dataframe
Tweets = Data[0]
for tweets in Data:
  Tweets = Tweets.append(tweets)

# remove duplicates
Tweets = Tweets.drop_duplicates(subset='id')

In [ ]:
# remove redundant columns
Tweets = Tweets.drop(['cashtags','search','translate', 'trans_src', 'trans_dest'],axis=1)

# replace empty entries with NaNs
Tweets.replace(r'^\s*$', np.nan, regex=True)
Tweets.to_csv('DatabaseTweets.csv')