In [ ]:
import matplotlib.pyplot as plt
from datetime import datetime
import datetime as dt
import numpy as np
import pandas as pd
import operator
import json

In [ ]:
url = 'https://raw.githubusercontent.com/Ashwin-19/HW3/master/Tweets.csv?token=AJD3RIUGFMHVMMULM6O7GJ26POKIC'
dataset = pd.read_csv(url, error_bad_lines=False)

In [ ]:
# removing null columns

dataset = dataset.drop(labels='Unnamed: 0',axis=1)

for column in list(dataset.columns):
  if dataset[column].isnull().values.all(axis=0):
    dataset = dataset.drop(labels=column,axis=1)

In [ ]:
# initialize twint
import twint
client = twint.Config()
client.Store_object = True

# retrieve user specific features: followers, following, bio, verified, account age
UserData = []
count = 0
for index, row in dataset.iterrows():
  client.Username = row['username']
  twint.run.Lookup(client)
  try:
    UserData.append(twint.output.users_list[0])
  except Exception:
    UserData.append(-1)
  twint.output.clean_lists()

In [ ]:
User_df = {"followers":[],"following":[],"bio":[],"verified":[],"age":[],"user_location":[]}

for user in UserData:
  if user != -1:
    User_df['followers'].append(user.followers)
    User_df['following'].append(user.following)
    User_df['bio'].append(user.bio)
    User_df['verified'].append(user.is_verified)
    User_df['age'].append((datetime.now() - datetime.strptime(user.join_date,"%d %b %Y")).days)
    User_df['user_location'].append(user.location)
  else:
    User_df['followers'].append(np.nan)
    User_df['following'].append(np.nan)
    User_df['bio'].append(np.nan)
    User_df['verified'].append(np.nan)
    User_df['age'].append(np.nan)
    User_df['user_location'].append(np.nan)

In [ ]:
dataset['followers'] = User_df['followers']
dataset['following'] = User_df['following']
dataset['bio'] = User_df['bio']
dataset['verified'] = User_df['verified']
dataset['age'] = User_df['age']
dataset['user_location'] = User_df['user_location']

In [ ]:
'''
Sentiment Analysis
-1 (-ve) -> 1 (+ve)
'''
from textblob import TextBlob
import re

sentiment_df = {"sentiment":[]}

for index, row in dataset.iterrows():
  tweet = row['tweet']
  text =  ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", str(tweet)).split())
  polarity = TextBlob(text).sentiment.polarity
  sentiment_df["sentiment"].append(polarity)

sentiment_df = pd.DataFrame(sentiment_df)
dataset = pd.concat([dataset, sentiment_df], axis=1, sort=False)
dataset.head()

             id  conversation_id  ...  user_location sentiment
0  1.235145e+18     1.235145e+18  ...                    -0.05
1  1.234889e+18     1.234747e+18  ...                     0.25
2  1.234812e+18     1.234812e+18  ...          India      0.00
3  1.234798e+18     1.234798e+18  ...          India      0.00
4  1.234739e+18     1.234739e+18  ...                     0.00

[5 rows x 29 columns]

In [ ]:
dataset.to_csv('preprocessedDB.csv')